- @title = 'パスワード変更'
%h1= @title

#generic-form
  = form_for @change_password_form, url: staff_password_path, method: :patch do |f|
    - p = FormPresenter.new(f, self)
    = p.password_field_block(:current_password, '現在のパスワード', size: 32, required: true)
    = p.password_field_block(:new_password, '新しいパスワード', size: 32, required: true)
    = p.password_field_block(:new_password_confirmation, '新しいパスワード（確認）', size: 32, required: true)
    .buttons
      = f.submit '変更'
      = link_to 'キャンセル', :staff_account
