= f.fields_for :customer, f.object.customer do |ff|
  - p = CustomerFormPresenter.new(ff, self)
  -#- binding.pry
  = p.text_field_block(:email, 'メールアドレス', size: 32, required: true)
  = p.password_field_block(:password, 'パスワード', size: 32, required: true)
  = p.full_name_block(:family_name, :given_name, '氏名', required: true)
  = p.full_name_block(:family_name_kana, :given_name_kana, 'フリガナ', required: true)
  = p. birthday_field_block(:birthday, '生年月日')
  = p.gender_field_block
  .input-block
    = p.decorated_label(:personal_phones, '電話番号')
    %ol
      - p.object.personal_phones.each_with_index do |phone, index|
        = render 'phone_fields', f: ff, phone: phone, index: index
