- @title = '顧客アカウントの編集'
%h1= @title

#generic-form
  = form_for @customer_form, as: 'form', url: [ :staff, @customer_form.customer ] do |f|
    = render 'form', f: f
    .buttons
      = f.submit '更新'
      = link_to 'キャンセル', :staff_customers

