!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= document_title
    = stylesheet_link_tag    'staff', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'staff', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      = render 'staff/shared/header'
      #container
        = yield
      = render 'shared/footer'
